/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

body {
  font-family: serif;
  background-color: rgb(var(--v-theme-background));
}

.error {
  color: rgb(var(--v-theme-error));
  font-weight: bold;
  font-family: sans-serif;
}

#taskpanel.withfloat {
  padding-bottom: 142px;
}

#anumfloat {
  width: 100%;
  min-height: 98px;
  padding: 10px;
  padding-bottom: 25px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 10;
  background-color: rgb(var(--v-theme-background));
}

#anumfloat .v-input {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  font-family: monospace;
}

#search {
  font-family: sans-serif;
}

.v-btn.bigbutton {
  width: 100%;
  height: 60px;
  max-width: 600px;
  display: block;
  padding: 20px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  font-family: sans-serif;
}

.v-btn.bigbutton.selected, .task-card.selected {
  color: #eee;
  background-color: #466860;
}

.v-list-item__content{
  font-family: sans-serif;
  color: rgb(var(--v-theme-on-background));
}

.card-button {
  text-decoration: none;
  color: rgb(var(--v-theme-on-background));
}

.skip-to-main-content-link {
  position: absolute; //Positions the link absolutely on the page, allowing it to be placed anywhere.
  left: -9999px; //Moves the link far off-screen to the left, making it invisible to sighted users.
  z-index: 999; //Sets a high z-index, ensuring that the link will be on top of other page elements if it becomes visible.
  padding: 1em;
  background-color: black;
  color: white;
  opacity: 0; //Sets the link's opacity to 0, making it fully transparent and invisible.
}

.skip-to-main-content-link:focus {
  left: 50%; // When the link receives focus (e.g., when a keyboard user tabs to it), it is repositioned horizontally to the centre of the screen.
  transform: translateX(-50%); //This centres the link horizontally by moving it back to the left by 50% of its own width.
  opacity: 1; //The link's opacity is set to 1, making it fully visible.
}
